{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block content %}
<h1>Process Windows BMP file</h1>
<p>current image</p>
<img src="{{ filepath }}" alt="posted image file">
<div>
    <form method="POST">
        <div>
            <p>処理<br>
            <input type="radio" name="process" value="binarize" checked>
            <label>binarization</label> 
            </p>
        </div>
        <div>
            <p>手法<br>
            <input type="radio" name="binarize-method" value="Otsu" checked>
            <label>Otsu's method</label>
            </p>
        </div>
        <div>
            <p>適用する次元(RGB)<br>
            <input type="radio" name="apply_dim" value="0" checked>
            <label>Blue</label>
            <input type="radio" name="apply_dim" value="1">
            <label>Green</label>
            <input type="radio" name="apply_dim" value="2">
            <label>Red</label>
            </p>
        </div>
        <button type="submit" value="process" class="btn btn-primary">process</button>
    </form>
</div>
{% endblock %}
