{% extends "base.html" %}
{% block title %}process windows bitmap file{% endblock %}
{% block content %}
<h1>Process Windows BMP file</h1>
<h2>about image</h2>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="#cur_image" class="nav-link" data-bs-toggle="tab">image</a>
    </li>
    <li class="nav-item">
        <a href="#histgram" class="nav-link" data-bs-toggle="tab">histgram</a>
    </li>
</ul>
<div class="tab-content">
    <div id="cur_image" class="tab-pane active">
        <img src="{{ filepath }}" alt="posted image file">
    </div>
    <div id="histgram" class="tab-pane">
        <canvas id="histgram_canvas_red" width="300" height="200"></canvas>
        <canvas id="histgram_canvas_green" width="300" height="200"></canvas>
        <canvas id="histgram_canvas_blue" width="300" height="200"></canvas>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js" integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            var ctx_red = document.getElementById('histgram_canvas_red').getContext('2d');
            var ctx_green = document.getElementById('histgram_canvas_green').getContext('2d');
            var ctx_blue = document.getElementById('histgram_canvas_blue').getContext('2d');

            let x = [];
            for (i=0; i < 256; i++) {
                x.push(i);
            }
            let hist = {{ histgrams|tojson }};
            console.log(hist);

            var data_blue = {
                labels: x,
                datasets: [{
                    label: 'histgram_blue',
                    data: hist[0],
                    borderColor: 'rgba(100, 100, 255, 1)',
                }]
            };

            var data_green = {
                labels: x,
                datasets: [{
                    label: 'histgram_green',
                    data: hist[1],
                    borderColor: 'rgba(100, 255, 100, 1)',
                }]
            };

            var data_red = {
                labels: x,
                datasets: [{
                    label: 'histgram_red',
                    data: hist[2],
                    borderColor: 'rgba(255, 100, 100, 1)',
                }]
            };

            var histgram_blue = new Chart(
                ctx_blue,
                {
                    type: 'line',
                    data: data_blue,
                }
            );
            var histgram_green = new Chart(
                ctx_green,
                {
                    type: 'line',
                    data: data_green,
                }
            );
            var histgram_red = new Chart(
                ctx_red,
                {
                    type: 'line',
                    data: data_red,
                }
            );

        </script>
    </div>
</div>
<h2>about process</h2>
<div>
    <form method="POST" action="/process">
        <div>
            <p>処理<br>
            <input type="radio" name="process" value="binarize" checked>
            <label>binarization</label> 
            <input type="radio" name="process" value="convolution">
            <label>convolution</label> 
            </p>
        </div>
        <div id="binarization_options">
            <div>
                <p>手法<br>
                <input type="radio" name="binarize-method" value="Otsu" checked>
                <label>Otsu's method</label>
                </p>
            </div>
            <div>
                <p>適用する次元(RGB)<br>
                <input type="radio" name="apply_dim" value="2" checked>
                <label>Red</label>
                <input type="radio" name="apply_dim" value="1">
                <label>Green</label>
                <input type="radio" name="apply_dim" value="0">
                <label>Blue</label>
                </p>
            </div>
        </div>
        <div id="convolution_options">
            <div>
                <p>フィルタ<br>
                <input type="radio" name="filter" value="sobel" checked>
                <label>Sobel filter</label>
                </p>
            </div>
            <div>
                <p>適用する次元(RGB)<br>
                <input type="radio" name="apply_dim_convolution" value="2" checked>
                <label>Red</label>
                <input type="radio" name="apply_dim_convolution" value="1">
                <label>Green</label>
                <input type="radio" name="apply_dim_convolution" value="0">
                <label>Blue</label>
                </p>
            </div>
        </div>
        <button type="submit" value="process" class="btn btn-primary">process</button>
    </form>
</div>
<script>
    var processRadios = document.getElementsByName('process');
    var binarizationOptions = document.getElementById('binarization_options');
    var convolutionOptions = document.getElementById('convolution_options');

    function toggleOptionsVisibility() {
        // すべての選択肢を非表示にする
        binarizationOptions.classList.add('d-none');
        convolutionOptions.classList.add('d-none');

        // 選択されたプロセスに応じて選択肢を表示
        if (processRadios[0].checked) {
            binarizationOptions.classList.remove('d-none');
        } else if (processRadios[1].checked) {
            convolutionOptions.classList.remove('d-none');
        }
    }

    // ページロード時に初期状態を設定
    toggleOptionsVisibility();

    // ラジオボタンの変更イベントを追加
    processRadios.forEach(function(radio) {
        radio.addEventListener('change', toggleOptionsVisibility);
    });
</script>
{% endblock %}
