{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block content %}
<h1>Process Windows BMP file</h1>
<h2>about image</h2>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="#cur_image" class="nav-link" data-bs-toggle="tab">image</a>
    </li>
    <li class="nav-item">
        <a href="#histgram" class="nav-link" data-bs-toggle="tab">histgram</a>
    </li>
</ul>
<div class="tab-content">
    <div id="cur_image" class="tab-pane active">
        <img src="{{ filepath }}" alt="posted image file">
    </div>
    <div id="histgram" class="tab-pane">
        <p>display histgram</p>
        <p>comming soon</p>
    </div>
</div>
<h2>about process</h2>
<div>
    <form method="POST">
        <div>
            <p>処理<br>
            <input type="radio" name="process" value="binarize" checked>
            <label>binarization</label> 
            </p>
        </div>
        <div>
            <p>手法<br>
            <input type="radio" name="binarize-method" value="Otsu" checked>
            <label>Otsu's method</label>
            </p>
        </div>
        <div>
            <p>適用する次元(RGB)<br>
            <input type="radio" name="apply_dim" value="0" checked>
            <label>Blue</label>
            <input type="radio" name="apply_dim" value="1">
            <label>Green</label>
            <input type="radio" name="apply_dim" value="2">
            <label>Red</label>
            </p>
        </div>
        <button type="submit" value="process" class="btn btn-primary">process</button>
    </form>
</div>
{% endblock %}
